.buttonsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #272E45;
    border-radius: 5px;
    padding: 10px 0px;
}
.buttons{
    width: 60px;
    height: 50px;
    margin: 10px;
    background-color: #E9E3DC;
    border-radius: 10px;
    font-weight: 700;
    font-size: 23px;
    cursor: pointer;
}
.delete{
    background-color: #647298;
    color: white;
}
.eval{
    background-color: #D13F32;
}